{
  "printWidth": 90,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "always"
}
